body {
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}