body {
    background-color: #C4D7F2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #776871;
    text-align: center;
    /* margin: auto;
    width: 50%;
    padding: 10px; */
}

a:link {
    color: #5A5353;
}

a:visited {
    color: #776274; 
}

#container {
    background-color: darksalmon;
    width: 100%;
    color: #776871;
}