body {
    background-color: lightsteelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5A5353;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

a:link {
    color: #5A5353;
}

a:visited {
    color: #776274; 
}